.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.test.*
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.ts
vitest.config.ts
